.sidebar {
    width: 270px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0d0d0e;
    overflow-x: hidden;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 20px 40px 0px;

  }
  
.sidebar.show {
left: 0;
}

.sidebar ul {
list-style-type: none;
margin: 0;
padding: 0;
margin-top: 0px;
}

.sidebar li {
font-size: 20px;
padding: 0px;
color: #FFFFFF;
padding-left: 20px;
padding-bottom: 0px;
}

.sidebar button {
    width: 280px;
    height: 50px;
    background-color: #0d0d0e;
    color: #535353;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
  }

.sidebar button:hover {
/* background-color: #404150; */
color: #06C755;
transition: .7s;
}
.sidebar button:active,
.sidebar button:focus {
  /* outline: none;
  box-shadow: 0px 0px 5px #FFFFFF; */
  color : #06C755;
}
  
.sidebar ul li:first-child button.newButton {
  width: 230px;
  background-color: #0d0d0e;
  color: #FFFFFF;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: left;
  display: block;
  outline: 1px solid #fff;
}

.sidebar ul li:first-child button.newButton:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.sidebar .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 10px;
  margin-top: 10px;
  bottom: -5px;
}

.sidebar .switch input {
  display: none;
}

.sidebar .sidebarBottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.sidebar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121212;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.sidebar .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.sidebar input:checked + .slider {
  background-color: #06C755;
}

.sidebar input:focus + .slider {
  box-shadow: 0 0 1px #06C755;
}

.sidebar input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.labelOn {
  color: #D9D9D9;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  transition: .7s;
}

.labelOff{
  color: rgba(128, 128, 128, 0.481);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  transition: .7s;
}

/* 
.sidebarTop {
  background-color: #06C755;
  padding: 20px;
  display: flex;
  height: 200px;
} */

/* untuk sidebarBottom */
/* .sidebarBottom {
  padding: 20px;
  display: flex;
  background-color: #F0F0F0;
} */


